@import 'tailwindcss';

@config '../tailwind.config.js';

@utility peace-cursor-emoji {
  @apply inline-block relative cursor-default;
  padding-bottom: 0.25rem;

  &:hover {
    cursor:
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 100 100'%3E%3Ctext y='50%' x='50%' dx='-.25em' dy='.2em' text-anchor='middle' font-size='80'%3E✌️%3C/text%3E%3C/svg%3E"),
      auto;
  }
}

@utility love-cursor-emoji {
  @apply inline-block relative cursor-default;
  padding-bottom: 0.25rem;

  &:hover {
    cursor:
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 100 100'%3E%3Ctext y='50%' x='50%' dx='-.25em' dy='.2em' text-anchor='middle' font-size='80'%3E❤️‍🔥%3C/text%3E%3C/svg%3E"),
      auto;
  }
}

@utility skeleton-line {
  @apply rounded-full bg-slate-400 mb-2.5 mr-4 h-2 w-96;
  &:first-child {
    @apply bg-slate-200 h-3;
  }
}

@utility card_stylings {
  @layer components {
    @apply bg-transparent rounded-md hover:bg-linear-to-br hover:bg-violet-500/5;

    @font-face {
      font-family: 'cascadia-normal';
      src: url(/public/fonts/Cascadia.ttf);
    }
    @font-face {
      font-family: 'circular-light';
      src: url(/public/fonts/Circular-Light.otf);
    }
    @font-face {
      font-family: 'circular-normal';
      src: url(/public/fonts/Circular-Book.otf);
    }
    @font-face {
      font-family: 'circular-medium';
      src: url(/public/fonts/Circular-Medium.otf);
    }
    @font-face {
      font-family: 'circular-bold';
      src: url(/public/fonts/Circular-Bold.otf);
    }
  }
}

@utility no-scrollbar {
  @layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer utilities {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #12172e !important;
  }

  ::selection {
    @apply bg-violet-500 text-violet-900;
  }

  .link-transition {
    @apply hover:text-violet-500 transition-colors duration-300;
  }

  @layer components {
    @font-face {
      font-family: 'cascadia-normal';
      src: url(/public/fonts/Cascadia.ttf);
    }
    @font-face {
      font-family: 'circular-light';
      src: url(/public/fonts/Circular-Light.otf);
    }
    @font-face {
      font-family: 'circular-normal';
      src: url(/public/fonts/Circular-Book.otf);
    }
    @font-face {
      font-family: 'circular-medium';
      src: url(/public/fonts/Circular-Medium.otf);
    }
    @font-face {
      font-family: 'circular-bold';
      src: url(/public/fonts/Circular-Bold.otf);
    }
  }
      
  @keyframes scale-icon {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.06);
    }
    100% {
      transform: scale(1);
    }
  }
}
