@import 'tailwindcss';

@config '../tailwind.config.js';

@utility peace-cursor-emoji {
  @apply inline-block relative cursor-default;
  padding-bottom: 0.25rem;

  &:hover {
    cursor:
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 100 100'%3E%3Ctext y='50%' x='50%' dx='-.25em' dy='.2em' text-anchor='middle' font-size='80'%3E✌️%3C/text%3E%3C/svg%3E"),
      auto;
  }
}

@utility love-cursor-emoji {
  @apply inline-block relative cursor-default;
  padding-bottom: 0.25rem;

  &:hover {
    cursor:
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 100 100'%3E%3Ctext y='50%' x='50%' dx='-.25em' dy='.2em' text-anchor='middle' font-size='80'%3E❤️‍🔥%3C/text%3E%3C/svg%3E"),
      auto;
  }
}

@utility card_stylings {
  @apply bg-transparent rounded-md hover:bg-linear-to-br hover:bg-violet-500/5;
}

@utility no-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@layer base {
  @font-face {
    font-family: 'circular-light';
    src: url(/fonts/Circular-Light.otf);
  }
  @font-face {
    font-family: 'circular-normal';
    src: url(/fonts/Circular-Book.otf);
  }
  @font-face {
    font-family: 'circular-medium';
    src: url(/fonts/Circular-Medium.otf);
  }
  @font-face {
    font-family: 'circular-bold';
    src: url(/fonts/Circular-Bold.otf);
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #12172e !important;
  }

  ::selection {
    @apply bg-violet-500 text-violet-900;
  }
}

@utility link-transition {
  @apply hover:text-violet-500 transition-colors duration-300;
}

@utility about-link {
  @apply text-slate-200 hover:text-violet-500 transition-colors duration-300;
}

@utility footer-link {
  @apply text-slate-200/70 hover:text-violet-500 transition-colors duration-300;
}
